.homeSecondPart{
    width: 100vw;
    height: 100vh;
    color: white;

  p{
    margin-top: 3em;
    font-family: 'IM Fell French Canon SC', serif;
    color: gray;
  }

  h2{
    font-size: 2em;
    font-family: 'IM Fell French Canon SC', serif;
    color: gray;

  }
.wrapper {
    display: grid;
    max-width: 1300px;
    width: 70%;
    height: auto;
    padding-top: 3em;
    margin: auto;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, auto);
    align-content: space-evenly;
  }
  .one {
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url('../assets/photos/IMG_3577.jpg');
    background-position: center;
    justify-content: center;
    background-size: cover;
    cursor: pointer;

  }
  .two {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url('../assets/photos/IMG_3577.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;

  }
  .three {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column:  3 / 5;
    grid-row: 1 / 3;
    background-image: url('../assets/photos/IMG_3577.jpg');
    cursor: pointer;
    background-size: cover;
    background-position: center;

  }
  .four {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-image: url('../assets/photos/IMG_3577.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;

  }
  .five {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-image: url('../assets/photos/IMG_3577.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;

  }
  .six {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-image: url('../assets/photos/IMG_3577.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

}