.portraits-page{
    width: 98vw;
    height: 90vh;
    margin: auto;
    .scroll{
        display: flex;
        height: 30vh;
    }
    
}


.scroll-container{
    height: 80vh;
    width: 98vw;
}

.landscape-photo img {
    display: block;
    margin: 0 auto;
    height: 80vh;
    width:auto;
    background-size: contain;
    overflow: hidden;
    padding-right: 2px;
}


.left-arrow{
    position: absolute;
    top:50%;
    right: 50px;
}
