.footer{
    display: flex;
    width: 90%;
    height: 5em;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'IM Fell French Canon SC', serif;



    .footer-list{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        align-items: center;

    }
  }

