.footer{
    width: 100vw;
    height: 5em;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'IM Fell French Canon SC', serif;
    background-color: rgb(25, 25, 25);
    color: bisque;
    margin-top: 3em;

    p{
        padding-top: 5em;
        font-size: 0.8em;
    }
  }

